<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8007/OrderService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IOrderService" contract="ServiceAPIS.IOrderService"
                name="WSHttpBinding_IOrderService">
                <identity>
                    <servicePrincipalName value="host/Lee" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>